
.inline-code {
    font-family: 'Spot Mono', SFMono-Regular, Menlo, Monaco, monospace;
    background-color: var(--ifm-code-background);
    padding: 0.1em 0.1em;
    border-radius: 0.05em;
}

[data-theme='dark'] .inline-code {
    background-color: var(--ifm-code-background);
}
